<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/animaboton"
        android:label="@string/app_name"
        android:roundIcon="@drawable/animaboton"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".StartActivity"></activity>
        <activity android:name=".EmpUpdate" />
        <activity android:name=".AddServicio" />
        <activity android:name=".EmpEmpDetalle" />
        <activity android:name=".EmpServicioDetalle" />
        <activity android:name=".EmpMenu"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".EmpLogin" />
        <activity android:name=".ServicioListado"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".EmpresaDetalle" />
        <activity android:name=".ServicioDetalle"
            />
        <activity android:name=".EmpresaListado"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".UsuarioMenu"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".UsuarioDetalle"
            android:parentActivityName=".UsuarioMenu"/>
        <activity android:name=".UsuarioRegistrar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>